<footer class="page-footer text-center font-small footer darken-2 mt-4 wow fadeIn  ">

    <hr class="my-4">

    <div class="pb-4">

        <a target="_blank">
            <mdb-icon fab icon="twitter" class="mr-3 ftrtxt icons"></mdb-icon>
        </a>

        <a target="_blank">
            <mdb-icon fab icon="linkedin" class="mr-3 ftrtxt"></mdb-icon>
        </a>

        <a target="_blank">
            <mdb-icon fab icon="instagram" class="mr-3 ftrtxt"></mdb-icon>
        </a>

        <a target="_blank">
            <mdb-icon fab icon="facebook-f" class="mr-3 ftrtxt"></mdb-icon>
        </a>
    </div>

    <div>
        <h6 class="ftrtxt"> Copyright @ White Panda Media Pvt. Ltd. </h6>
        <h6 class="ftrtxt"> All Rights Reserved </h6><br>
        <h6 class="ftrtxt"> <a>Privacy policy</a> | <a>Terms of service</a> | <a>Service Agreement</a> | <a>Contact us</a> </h6><br>
    </div>

</footer>